* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

:root {
    --black: rgb(28, 28, 28);
    --white: rgb(255, 255, 255);
    --whiteBorder: rgb(207, 207, 207);
    --whiteLine: rgb(232, 232, 232);
  }

#signUpOuterContainer {
    background-color: var(--black);
    opacity: 0.85;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signUpContainer {
    width: max-content;
    min-height: 150px;
    min-width: 24rem;
    background-color: var(--white);
    padding: 16px 24px;
    border-radius: 0.6rem;
}

.signUpHeader{
    display: flex;
    justify-content: space-between;
    color: black;
}

.phoneNumber {
    display: flex;
    width: 100%;
    min-height: 2.8rem;
    padding: 0.4rem;
    border: 1px solid var(--whiteBorder);
    border-radius: 6px;
    margin-bottom: 2rem;
}

.countrySelect {
    display: flex;
    align-items: center;
}

.flagAndCode{
    display: flex;
    /* justify-content: center; horizontal  */
    align-items: center;
}

.flagImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.countryInputDivider {
    width: 0px;
    height: 2.4rem;
    border-right: 1px solid rgb(207, 207, 207);
    margin-left: 1rem;
}

.phoneNumberInput {
    /* height: 100%; */
    width: 100%;
    outline: none;
    border: none;
    font-size: 1.4rem;
}

.OtpButton {
    width: 100%;
    min-height: 44px;
    border-radius: 0.6rem;
    background-color: rgb(234, 57, 44);
    border: none;
    padding: none;
    cursor: pointer;
    color: var(--white);
    font-weight: 600;
    font-size: inherit;
    margin-bottom: 1rem;
}

.divider {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 0 1rem;
}

/* position relative means position wrt to its original position
position absolute means position wrt to nearest ancesstor */

.horizontalDivider {
    position: relative;
    transform: translateY(-65%);
    background: var(--white);
}

.line {
    border-top: none;
    width: 100%;
    border-bottom: 1px solid var(--whiteLine);
    padding: 0px;
}

.loginOptions {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 44px;
    font-size: inherit;
    cursor: pointer;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 0.6rem;
    margin-bottom: 1.2rem;
    color: rgb(105, 105, 105);
    font-weight: 400;
}

.loginOptionsLogo {
    display: flex;
    align-items: center;
    margin-right: 0.6rem;
}

.createAccount {
    font-size: 1rem;
    line-height: 3rem;
}

.newAccountLink {
    color: rgb(239, 79, 95);
    cursor: pointer;
    font-size: inherit;
}
