* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

:root {
    --black: rgb(28, 28, 28);
    --white: rgb(255, 255, 255);
    --whiteBorder: rgb(207, 207, 207);
    --whiteLine: rgb(232, 232, 232);
}
a{
    text-decoration: none;
    color: var(--black);
    cursor: pointer;
 }


.container {
    width: 85%;
    margin: 0 auto;
    box-sizing: border-box;
}

.image-container {
    position: relative;
    height: calc(100vh - 2rem); /* Set the height to 2rem less than viewport height */
    overflow: hidden;
}

.background_image {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    /* filter: blur(4px); Apply a 50% blur effect (you can adjust the value as needed) */
    background-color: rgba(0, 0, 0, 0.75);
    z-index: -100;
  }

.Backdrop{
    background-color: var(--black);
    opacity: 0.3; 
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
}

.flex_middle{
    display: flex;
    align-items: center;
    justify-content: center;
}