* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

:root {
    --black: rgb(28, 28, 28);
    --white: rgb(255, 255, 255);
    --whiteBorder: rgb(207, 207, 207);
    --whiteLine: rgb(232, 232, 232);
}
a{
    text-decoration: none;
    color: var(--black);
    cursor: pointer;
 }


.container {
    width: 85%;
    margin: 0 auto;
    box-sizing: border-box;
}

.image-container {
    position: relative;
    height: calc(100vh - 2rem); /* Set the height to 2rem less than viewport height */
    overflow: hidden;
}

.background-image {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: blur(4px); /* Apply a 50% blur effect (you can adjust the value as needed) */
    z-index: -100;
  }
.home__background-image {
    background-image: url('https://images.unsplash.com/photo-1605522561233-768ad7a8fabf?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2072&q=80');
}

.Backdrop{
    background-color: var(--black);
    opacity: 0.8; 
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
}