header{
    background-color: rgb(229, 229, 229);
    box-sizing: border-box;
    width: 100vw;
}

.Navbar{
    padding: 1.2rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Navbar__links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 2.5rem;
    cursor: pointer;
}
.Navbar__link:hover{
    text-decoration: underline;
}
