header{
    background-color: rgb(229, 229, 229);
    box-sizing: border-box;
}

.Navbar{
    /* margin-top: 2rem; */
    padding: 1.2rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Navbar__links{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    list-style: none;
    gap: 2.5rem;
}
.Navbar__link:hover{
    text-decoration: underline;
    /* padding: 0.5rem 0.6rem; */
}
